{% load i18n static %}
<!DOCTYPE html>{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="{% static 'cms/css/bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'cms/css/origin.css' %}">
{% block extra_css %}{% endblock %}
<title>{% block title %}My ankens{% endblock %}</title>



</head>

<body>

<!--画面上部メニューバー-->
<nav class="navbar navbar-expand-lg navbar-light bg-light origin-top origin-color">
  <a class="navbar-brand" href="#">Project</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse origin-color" id="navbarSupportedContent">
    <!-- メニューを右寄せ -->
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link origin-color" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link origin-color" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle origin-color" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item origin-color" href="#">Action</a>
          <a class="dropdown-item origin-color" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item origin-color" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled origin-color" href="#">Disabled</a>
      </li>
    </ul>
    <!-- フォームを削除 -->
  </div>
</nav>


<!--サイドバー-->

        <!--メイン画面-->
<main role="main" class="container-fluid">
		<div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
			<div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
				<div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0">
				</div>
			</div>
			<div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
				<div style="position:absolute;width:200%;height:200%;left:0; top:0">
				</div>
			</div>
		</div>




  <!--<div class="container-fluid">-->
    {% block content %}
      {{ content }}
    {% endblock %}
  <!--</div>-->
</main>


<script src="{% static 'cms/js/jquery-3.4.1.min.js' %}"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.0/js/jquery.tablesorter.min.js"></script>
<script src="{% static 'cms/js/bootstrap.bundle.min.js' %}"></script>
         <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>
{% block extra_js %}{% endblock %}
</body>
</html>