{% extends "cms/base_top.html" %}
{% load bootstrap4 %}

{% block title %}進捗{% endblock title %}

{% block sidebar %}
<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>Todo</span>
              <a class="d-flex align-items-center text-muted" href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-circle"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="16"></line><line x1="8" y1="12" x2="16" y2="12"></line></svg>
              </a>
            </h6>
{% endblock sidebar%}


{% block content %}
<div class="container">
    <h4 class="mt-4 mb-5 border-bottom">進捗</h4>
    {% if sintyoku_id %}
    <form action="{% url 'cms:sintyoku_mod' anken_id=anken_id sintyoku_id=sintyoku_id %}" method="post">
    {% else %}
    <form action="{% url 'cms:sintyoku_add' anken_id=anken_id %}" method="post">
    {% endif %}
      {% csrf_token %}
      {% bootstrap_form form layout='horizontal' %}
      <div class="form-group row">
        <div class="offset-md-3 col-md-9">
          <button type="submit" class="btn btn-primary">登録</button>
          <a href="{% url 'cms:sintyoku_list' anken_id=anken_id %}" class="btn btn-secondary">戻る</a>
        </div>
      </div>
    </form>
</div>
{% endblock content %}