{% load i18n static %}
<!DOCTYPE html>{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="{% static 'cms/css/bootstrap.css' %}">
  <link href="test.css" rel="stylesheet">
{% block extra_css %}{% endblock %}
<title>{% block title %}My ankens{% endblock %}</title>
</head>
<body>
  <!--<div class="container-fluid">-->
    {% block content %}
      {{ content }}
    {% endblock %}
  <!--</div>-->
<script src="{% static 'cms/js/jquery-3.4.1.min.js' %}"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.0/js/jquery.tablesorter.min.js"></script>
<script src="{% static 'cms/js/bootstrap.bundle.min.js' %}"></script>
{% block extra_js %}{% endblock %}
</body>
</html>